<ion-view view-title="Create">
        <ion-content class="has-header list-inset">
        <form name="createEventForm" ng-if="!eventCreation">
                <div class="item item-text-wrap" ng-class="'regular'"> 

                    <div class="item item-divider"> 
                        <h2>Creating An Event</h2>
                    </div>
                <label class="item item-input item-stacked-label">
                            <span class="input-label" ng-class="!titleInput ? 'validation' : ''"> Name </span>
                            <input type="text" placeholder="Enter your Event Name here"  ng-model="title2" ng-minlength="1" ng-maxlength="40" required>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label" ng-class="!dateInput ? 'validation' : ''"> Date</span>
                            <input type="date" ng-model="here1" required>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label" ng-class="!timeInput ? 'validation' : ''"> Time</span>
                            <input type="time" ng-model="here2" required>
                        </label>

                        <label class="item item-input item-stacked-label" ng-click="locationClick()">
                            <span class="input-label"> Location</span>
                            <input type="text" placeholder="Click to Enter Location" disabled="disabled">
                        </label>

                        <label class="item item-input item-floating-label" ng-show="locationSelected">
                            <span class="input-label" ng-class="!streetInput ? 'validation' : ''"> Street</span>
                            <input type="text" placeholder="Enter your Street Here" ng-model="street2" ng-minlength="1" ng-maxlength="100" required>
                        </label>

                        <label class="item item-input item-floating-label" ng-show="locationSelected" >
                            <span class="input-label" ng-class="!cityInput ? 'validation' : ''"> City</span>
                            <input type="text" placeholder="Enter your City Here" ng-model="city2" ng-minlength="1" ng-maxlength="100" required>
                        </label>

                        <label class="item item-input item-floating-label" ng-show="locationSelected" >
                            <span class="input-label" ng-class="!provinceInput ? 'validation' : ''"> Province/State</span>
                            <input type="text" placeholder="Enter your Province/State Here" ng-model="province2" ng-minlength="1" ng-maxlength="100" required>
                        </label>

                          <label class="item item-input item-stacked-label">
                            <span class="input-label" ng-class="!descriptionInput ? 'validation' : ''"> Description</span>
                            <input type="text" placeholder="Enter your Event Location Here" ng-model="description2" ng-minlength="1" ng-maxlength="100" required>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label" ng-class="!guestsInput ? 'validation' : ''"> Guests</span>
                            <input type="text" placeholder="Invite your Guests Here!" ng-model="guests2" ng-minlength="1" ng-maxlength="1000" required>
                        </label>


                        <div class="list">

                            <div class="item item-divider"> 
                                <h2>Additional Options</h2>
                            </div>
    
        
                            <ion-checkbox ng-model="votingPoll"
                                ng-true-value="'pollTrue'"
                                ng-false-value="'pollFalse'">
                                Voting Poll
                            </ion-checkbox>
                            <!-- <div class="item">
                                <pre ng-bind="votingPoll | json"></pre> 
                            </div> -->
                            <ion-checkbox ng-model="kontributeList"
                                ng-true-value="'kontributeTrue'"
                                ng-false-value="'kontributeFalse'">
                                Kontributing List
                            </ion-checkbox>
                            <!-- <div class="item">
                                <pre ng-bind="kontributeList | json"></pre> 
                            </div>  -->
        
        
                        </div>

                        <span class="item text-center item-divider">
                        <span class="item text-center item-divider" ng-if="!inputBoxesFilled" ng-class="'validation'">Please fill in highlighted boxes above</span>
                            <button class="button button-block button-email" ng-click="createEvent(title2, here1, here2, street2, city2, province2, description2, guests2); createLocalEvent(title2, here1, here2, street2, city2, province2, description2, guests2); inviteUserToEvent(title2, here1, here2, street2, city2, province2, description2, guests2)">Create!</button>
                        </span>
             </div>
        </form>

        <div class="item text-center item-divider" ng-show="anotherOne">
            <button class="button button-block button-email" ng-click="showEvent()">Create Another Event?</button>
        </div>


        
    </ion-content>



   <div class="tabs tabs-icon-left">
 <a class="tab-item" href="#/app/events">
    <i class="icon ion-flag"></i>
    Attending
  </a>
   <a class="tab-item" href="#/app/create">
    <i class="icon ion-wrench"></i>
    Create
  </a>
   <a class="tab-item" href="#/app/host">
    <i class="icon ion-person"></i>
    Hosting
  </a>
  <a class="tab-item" href="#/app/kontribute">
    <i class="icon ion-clock"></i>
    Create Kontribute Lists
  </a>
  <a class="tab-item" href="#/app/currkontribute">
    <i class="icon ion-clock"></i>
    Current Kontribute Lists
  </a>
  
</div>

  </ion-content>
</ion-view>
