<ion-view view-title="Current Kontribute Lists">
    <ion-content>
 <div class="hostImage"></div>
    <button class="button button-full button-dark" style="margin-top:0px; margin-bottom:1px; border-style: outset" ng-click="getKontributeLists()">
  Refresh Your Current Kontribute Lists!
</button>

      
<ion-slide-box on-slide-changed="slideHasChanged($index)" ng-init="getKontributeLists()">
  
   
    <div class="list card">

  <div class="item item-avatar" style="background-color:#C0C0C0 ; color: black ">
    <h2>Item: {{list1name}}</h2>
    <h3>Current Quantity: {{list1current}}</h3>
    <p>Max Quantity: {{list1quantity}}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" style="background-color: #F8F8F8  ">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup" ng-show="list1current != list1quantity" ng-click="updatelist1(1 * list1current + 1); getKontributeLists();"></i>
      Kontribute
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsdown" ng-show="list1current != 0" ng-click="updatelist1(1 * list1current - 1); getKontributeLists();"></i>
      Un-Kontribute
    </a>
  </div>

  <div class="item item-avatar" style="background-color:#C0C0C0 ; color: black ">
    <h2>Item: {{list2name}}</h2>
    <h3>Current Quantity: {{list2current}}</h3>
    <p>Max Quantity: {{list2quantity}}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" style="background-color: #F8F8F8  ">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup" ng-show="list2current != list2quantity" ng-click="updatelist2(1 * list2current + 1); getKontributeLists()"></i>
      Kontribute
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsdown" ng-show="list2current != 0" ng-click="updatelist2(1 * list2current - 1); getKontributeLists()"></i>
      Un-Kontribute
    </a>
  </div>

</div>

  </ion-slide>
  
</ion-slide-box>
    



  </ion-content>


<div class="tabs tabs-icon-left">
  <a class="tab-item" href="#/app/home">
    <i class="icon ion-home"></i>
    Home
  </a>
   <a class="tab-item" href="#/app/kontribute">
    <i class="icon ion-clipboard"></i>
    New Kontribution List
  </a>
  </div>
   
</ion-view>