<ion-view view-title="testPage">
    <ion-content>


        <div class="list" ng-if="!eventSubmitted">
         <label class="item item-input">
                <span class="input-label">Internal use -> which event to get</span>
                <input type="text" ng-model="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" ng-model="title">
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="text" ng-model="date">
            </label>

            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" ng-model="time">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" ng-model="address">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" ng-model="description">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">
                    People to Invite
                </span>
                <select ng-model="guests">
                    <option>Hanson</option>
                    <option selected>Drake</option>
                    <option>Tian</option>
                    <option>Chris</option>
                    <option>Imran</option>
                </select>
            </label>
            <button class="button button-email" ng-click="getUserDetails(number)">Get Events!</button>
        </div>



        <div class="list" ng-if="eventSubmitted">
         <label class="item item-input">
                <span class="input-label">Internal use -> which event to get</span>
                <input type="text" ng-model="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" value="{{title}}">
            </label>

            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="text" value="{{date}}">
            </label>

            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" value="{{time}}">
            </label>
              <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" value="{{address}}">
            </label>

            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" value="{{description}}">
            </label>
            <label class="item item-input">
                <span class="input-label">Invited</span>
                <input type="text" value="{{users}}">
            </label>
             <button class="button button-email" ng-click="getUserDetails(number)">Get Events!</button>
        </div>









    </ion-content>
</ion-view>




