<ion-view view-title="donotdelete" ng-controller="PushCtrl">
 
        <ion-pane>
        <ion-header-bar class="bar-stable">
        <h1 class="title"> Ionic tester</h1>
        </ion-header-bar>
   <ion-content>
<button class="button button-block button-dark" ng-click="identifyUser()">
Identify a User
</button>


<button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
Register for push
</button>


       
    </ion-content>
    </ion-pane>
</ion-view>




