<ion-view view-title="Events">
        <ion-content class="has-header list-inset">
            <div class="item item-text-wrap">
                <div class="list" ng-if="attendingEvent">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" value="{{name}}">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Date</span>
                        <input type="number" value="{{date}}">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Time</span>
                        <input type="number" value="{{time}}">
                    </label>

                      <label class="item item-input">
                        <span class="input-label">Location</span>
                        <input type="text" value="{{address}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Description</span>
                        <input type="text" value="{{description}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Invited</span>
                        <input type="text" value="{{users}}">
                    </label>
                    <button class="button button-block button-email" ng-click="getUserDetails()">Get!</button>
                </div>
            </div>
    
    </ion-content>
    <ion-footer-bar>
        <ion-tabs class="tabs-dark tabs-icon-top">
            <ion-tab title="Attending" icon="ion-flag" href="#/app/events"></ion-tab>
            <ion-tab title="Create" icon="ion-wrench" href="#/app/create"></ion-tab>
            <ion-tab title="Host" icon="ion-person" href="#/app/host"></ion-tab>
            <ion-tab title="Past" icon="ion-clock" href="#/app/past"></ion-tab>


        </ion-tabs>
    </ion-footer-bar>
</ion-view>
