<ion-view view-title="Events" ng-controller="MapController">
        <ion-content>
           
    
<div class="eventsImage"></div>
    

    <div id="map" data-tap-disabled="true"></div>


<div class="card"> 
    <div class="item item-divider">
    Events List
  </div>
  </div>
    
  <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-init="getEventsForMap()">
  <ion-slide ng-repeat="event in events">
    
    <div id="eventCard">
    <p>{{event.event.Title}}</p>
    <p>{{event.event.Address}}</p>
    </div>
  
  </ion-slide>
  
</ion-slide-box>



</ion-content>
    
   
    <div class="tabs tabs-icon-left">
 <a class="tab-item" href="#/app/events">
    <i class="icon ion-flag"></i>
    Attending
  </a>
   <a class="tab-item" href="#/app/create">
    <i class="icon ion-wrench"></i>
    Create
  </a>
   <a class="tab-item" href="#/app/host">
    <i class="icon ion-person"></i>
    Host
  </a>
   <a class="tab-item" href="#/app/past">
    <i class="icon ion-clock"></i>
    Past
  </a>
</div>

   </ion-content>
</ion-view>
