<ion-view view-title="Events" ng-controller="MapController">
       

<ion-content ng-init="getEventsForMap()">
           
    
<div class="eventsImage">  
</div>

<div id="map" data-tap-disabled="true"> 
</div>


  <ion-toggle toggle-class="toggle-calm" ng-model="showAll" ng-change="plotAllOnMap(showAll)">View All Events On Map</ion-toggle>

  <ion-scroll direction="y" class="root"> 

  <div class="list">
    
    <li ng-repeat="event in events">
    <a class="item item-icon-left" ng-click="plotOnMap(event.event.Address)">
    <i class="icon ion-calendar"></i>
    <p>{{event.event.Title}}</p>
    <span class="item-note">
    {{event.event.Time}}
    </span>
    <p>{{event.event.Address}}</p>
    </a>
    </li>
  </div>
  </ion-scroll>





</ion-content>
    


    <div class="tabs tabs-icon-left">
 <a class="tab-item" href="#/app/events">
    <i class="icon ion-flag"></i>
    Attending
  </a>
   <a class="tab-item" href="#/app/create">
    <i class="icon ion-wrench"></i>
    Create
  </a>
   <a class="tab-item" href="#/app/host">
    <i class="icon ion-person"></i>
    Hosting
  </a>
  

  
</div>

  
</ion-view>
