<ion-view view-title="Home" ng-controller="MapController">
   <ion-content>
   <div class="homeImage"></div>
    

    <div id="map" data-tap-disabled="true"></div>


    <div class="card"> 
    <div class="item item-divider">
    Events List
  </div>
    
  <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-init="getEventsForMap()">
  <ion-slide ng-repeat="event in events">
    
    <div>
    <p>{{event.event.Title}}</p>
    <p>{{event.event.Address}}</p>
    </div>
  
  </ion-slide>
  
</ion-slide-box>

</div>
    </ion-content>
</ion-view> 