<ion-view view-title="Hosting" ng-controller="HostMapController">
    <ion-content ng-init="getEventsForMap()" >
 <div class="hostImage"></div>
   

      

<div id="hostMap" data-tap-disabled="true"> 
</div>

<div class="row">
  <div class="col">
  <ion-toggle toggle-class="toggle-calm" ng-model="showAll" ng-change="plotAllOnMap(showAll)" style="font-size: 10px">Map All Events</ion-toggle></div>
  <div class="col"><div class="item item-button-right" style="font-size: 10px">
    Edit Events
    <button class="button button-dark" ng-click="gotoEditPage()">
      <i class="icon ion-edit" ></i>
    </button>
  </div>
</div>
</div>



  <ion-scroll direction="y" class="root"> 

  <div class="list" ng-show="!notHosting">
    
    <li ng-repeat="event in events">
    <a class="item item-icon-left" ng-click="plotOnMap(event.event.Address)">
    <i class="icon ion-calendar"></i>
    <p>{{event.event.Title}}</p>
    <span class="item-note">
    {{event.event.Date | date: "yyyy-MM-dd" }} &nbsp &nbsp
    {{event.event.Time | date: "HH:mm"}}
    </span>
    <p>{{event.event.Address}}</p>
    </a>
    </li>
  </div>




  <div class="list" ng-show="notHosting">

  <div class="card">
  <div class="item item-text-wrap">
    You aren't hosting any events yet. To check the events you're attending, select the attending button to view those events.
  </div>
</div>
  </div>
  </ion-scroll>



  

    

</ion-content>


   <div class="tabs tabs-icon-left">
 <a class="tab-item" href="#/app/events">
    <i class="icon ion-flag"></i>
    Attending
  </a>
   <a class="tab-item" href="#/app/create">
    <i class="icon ion-wrench"></i>
    Create
  </a>
   <a class="tab-item" href="#/app/host">
    <i class="icon ion-person"></i>
    Hosting
  </a>

   
</div>

  </ion-content>

   
</ion-view>