<ion-view view-title="Kontribute">
        <ion-content class="has-header list-inset">
        <form name="createEventForm" ng-if="!eventCreation">
                <div class="item item-text-wrap" ng-class="'regular'"> 

                    <div class="item item-divider"> 
                        <h2>Kontribute List</h2>
                    </div>


<button class="button button-full button-dark" style="margin-top:0px; margin-bottom:1px; border-style: outset" ng-click="getKontributeLists(); notViewList = true" ng-show="!notViewList">
  View Your Created Kontribute List!
</button>

<button class="button button-full button-dark" style="margin-top:0px; margin-bottom:1px; border-style: outset" ng-click="getKontributeLists(); notViewList = false" ng-show="notViewList">
  Hide
</button>

  <div class="list" ng-show="notViewList">
  <li ng-repeat="event in events">
  <div class="item item-avatar" style="background-color:#C0C0C0 ; color: black ">
    <h2>List: {{event.list.List}}</h2>
    <h2>Item: {{event.list.Listdetails.Listname}}</h2>
    <h3>Current Quantity: {{event.list.Listdetailsc.Listcurrent}}</h3>
    <p>Max Quantity: {{event.list.Listdetailsq.Listquantity}}</p>
  </div>
  </div>

                        <label class="item item-input item-stacked-label" >
                            <span class="input-label" ng-class="!knameInput ? 'validation' : ''"> Item Name </span>
                            <input type="text" placeholder="Item Name" ng-model="listname" ng-minlength="1" ng-maxlength="100" required>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label" ng-class="!kquantityInput ? 'validation' : ''"> Quantity</span>
                            <input type="number" placeholder="Max Quantity" ng-model="listquantity" ng-minlength="1" ng-maxlength="100" required>
                        </label>

     
                    </div>

                        <span class="item text-center item-divider" ng-if="!inputBoxesFilled" ng-class="'validation'">Please fill in highlighted boxes above</span>
                            <button class="button button-block button-email" ng-click="kcount = kcount + 1; kcurr = kcount - 1; createKontributeList(listname, listquantity, kcurr); listname = null; listquantity = null;">Create!</button>
                        </span>
             </div>
        </form>
       
    
    </ion-content>
    
<div class="tabs tabs-icon-left">
  <a class="tab-item" href="#/app/home">
    <i class="icon ion-home"></i>
    Home
  </a>
   <a class="tab-item" href="#/app/currkontribute">
    <i class="icon ion-clipboard"></i>
    Your Kontribution Lists
  </a>
  </div>

</ion-view>
