<ion-view view-title="past">
    <ion-content>
        <h1>Past Events</h1>
    </ion-content>


    <ion-footer-bar>
        <ion-tabs class="tabs-dark tabs-icon-top">
            <ion-tab title="Attending" icon="ion-flag" href="#/app/events"></ion-tab>
            <ion-tab title="Create" icon="ion-wrench" href="#/app/create"></ion-tab>
            <ion-tab title="Host" icon="ion-person" href="#/app/host"></ion-tab>
            <ion-tab title="Past" icon="ion-clock" href="#/app/past"></ion-tab>


        </ion-tabs>
    </ion-footer-bar>
</ion-view>