<ion-view view-title="past">
    <ion-content>
        <h1>Past Events</h1>
    </ion-content>


    <div class="tabs tabs-icon-left">
 <a class="tab-item" href="#/app/events">
    <i class="icon ion-flag"></i>
    Attending
  </a>
   <a class="tab-item" href="#/app/create">
    <i class="icon ion-wrench"></i>
    Create
  </a>
   <a class="tab-item" href="#/app/host">
    <i class="icon ion-person"></i>
    Host
  </a>
   <a class="tab-item" href="#/app/past">
    <i class="icon ion-clock"></i>
    Past
  </a>
</div>

   </ion-content>
</ion-view>