<ion-view view-title="Profile" ng-controller="ProfileCtrl as profileCtrl" ng-init="getProfileInfo()">
<ion-content style="background: url('https://unsplash.it/500/700?image=769');no-repeat center center fixed;
	background-size: cover;">
	<div class="eventsImage">  

</div>

<div class="profileCover">
	
	<p>
			Welcome | {{firstname}} {{lastname}}
			</p>
		</div>
	<div class="list card">

  <div class="item item-avatar">
    <img src="../img/rsz_1user.png" width="60px" height="60px">
    <h2 style="color: #003366; font-weight: bold">{{firstname}} {{lastname}} </h2>
    <p style="color: #000033; font-weight: bold"> Username: {{username}}
    <p style="color: #000033; font-weight: bold">Member Since: {{memberSince | date: "MMMM dd yyyy" }}</p>
  </div>

  <div class="item item-body">
  
 
  <div class="list">
   
    <li>
     Upcoming event goes here
    <p>{{event.Title}}</p>
    <span class="item-note">
    {{event.eventDate | date: "yyyy-MM-dd" }} &nbsp &nbsp
    {{event.Time | date: "HH:mm"}}
    </span>
    <p>{{event.Address}}</p>
    </li>
  </div>

  </div>
<div class="row">
  <div class="col"> 
  <a class="tab-item" href="#/app/editProfile">
    <i class="icon ion-edit"></i>
    Edit 
  </a>
</div>
  <div class="col">
   <a class="tab-item" ng-click="showFriends()">
    <i class="icon ion-person-stalker"></i>
    Friends
  </a>
</div>
</div>

</div>

	

	</ion-content>
  




  <div class="tabs tabs-icon-left" >
 <a class="tab-item" ng-click="profileCtrl.doLogout()">
    <i class="icon ion-power"></i>
    <button class="button button-clear button-assertive">
  Logout
</button>
  </a>

 </div>
	
</ion-view>