<ion-view view-title="Profile" ng-controller="ProfileCtrl as profileCtrl" ng-init="getProfileInfo()">
<ion-content>
	<div class="eventsImage">  

</div>

	
		
		<div class="item item-divider">
			<i class = "icon ion-scissors"></i>
			Welcome {{firstname}} {{lastname}} {{fbname}}
		</div>


	


<div class="list card">

  <a ng-click="showFriends()" class="item item-icon-left">
    <i class="icon ion-person-stalker"></i>
    My Friends
  </a>


  
 

</div>


	</ion-content>
  




  <div class="tabs tabs-icon-left" >
 <a class="tab-item" ng-click="profileCtrl.doLogout()">
    <i class="icon ion-power"></i>
    <button class="button button-clear button-assertive">
  Logout
</button>
  </a>
 </div>
	
</ion-view>