<ion-view view-title="Register">
<ion-header-bar>
<h1 class="title">Register</h1>
</ion-header-bar>
<ion-content>
<form ng-submit="authCtrl.signUp()">
  <div class="input-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
  </div>
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
  </div>
  <input type="submit" class="btn btn-default" value="Register">
</form>
</ion-content>
</ion-view>